<div>

    <!-- admin details -->

    <div class="profile">
      <img src="https://th.bing.com/th/id/OIP.ZQ8ESF45R5XZC5H42di-AQHaHN?w=168&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="admin image">
      <h3>Admin</h3>
      <h4>admin@luminar.co.in</h4>

    </div>
    <mat-divider></mat-divider>
<!-- div for holding contents -->
<h2>Pages</h2>
    <div class="pages">
        <a routerLink="dashboard">Dashboard</a>
        <a routerLink="employees">Employees</a>
        <a routerLink="gallery">Gallery</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="contacts"><mat-icon>contact_phone</mat-icon>Contacts </a>
        <a routerLink="leads"><mat-icon>leaderboard</mat-icon>Leads</a>
    </div>

</div>
